.character-spotlight {
    background-color: teal;
    height: 850px;
    position: relative;
}

.character-bar {
    background-color: lightblue;
    height: 160px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 35%;
    justify-content: center;
}

.character-desc {
    font-size: 0.9rem;
}

.character-desc {
    width: 300px;
}

.character-list {
    position: absolute;
    height: 150px;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.character-icon {
    margin: 10px;
    width: 80px;
    height: 100px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
    transform: skewX(-10deg);
    overflow: hidden;
    background-color: silver;
}

.character-icon:hover {
    background-color: red;
}

.character-portrait {
    height: 100px;
    width: 100px;
    transform: skewX(+10deg) translateX(-15px);
}

@media only screen and (max-width : 768px) {
    .character-spotlight {
        background-color: teal;
        height: 850px;
        position: relative;
    }
    
    .character-bar {
        background-color: lightblue;
        height: 160px;
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 45%;
        justify-content: center;
    }

    .character-img {
        position: absolute;
        bottom: 180px;
    }
    
    .character-name, .character-desc {
        padding: 0 20px;
        width: 100%;
    }
    
    .character-list {
        position: absolute;
        height: 150px;
        bottom: 15%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .character-icon {
        flex-shrink: 0;
        margin: 10px;
        width: 80px;
        height: 100px;
        display: inline-block;
        border: 2px solid white;
        border-radius: 10px;
        transform: skewX(-10deg);
        overflow: hidden;
        background-color: silver;
    }
    
    .character-portrait {
        height: 100px;
        width: 100px;
        transform: skewX(+10deg) translateX(-15px);
    }
}