main{
    margin: auto;
    max-height: 1200px;
}

#title{
    text-align: center;
    color: black;
    margin: 15px;
}

.container {
    margin: 30px auto;
    width: 50%;
    background-color: white;
}

h3 {
    text-align: center;
}
  
input[type=text], input[type=password], input[type=date], select{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

input[type=radio]{
    display: inline-block;
    background-color: teal;
    margin: 20px 0;
}

input[type=checkbox] {
    margin: 15px 0;
}

.gender-label {
    margin-right: 15px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

#terms {
    color: dodgerblue;
}

.error {
    color: red;
    margin-bottom: 20px;
    display: none;
    font-size: 0.8rem;
}

.registerbtn {
    background-color: salmon;
    color: black;
    padding: 16px 20px;
    margin: 40px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
    
}
  
.registerbtn:hover {
    opacity: 1;
}