.jumbotron {
    position: relative;
    height: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.2s ease-out;
    text-shadow: 0px 0px 10px black;
}

.jumbotron::before {
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

#title {
    margin: 20px 0;
}

.slide-detail {
    color: white;
    position: relative;
    width: 40%;
    top: 35%;
    left: 50%;
    line-height: 1.5rem;
}

.prev, .next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.prev:hover, .next:hover {
    background-color: white;
    text-shadow: none;
    transition: 0.3s;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.slide-control {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 7%;
}

.bullet {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: lightslategray;
    box-shadow: 0px 0px 10px black;
}

@media only screen and (max-width : 768px) {

    .prev, .next {
        display: none;
    }

    .slide-control {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 10%;
    }

    .bullet {
        margin: 0 20px;
    }

    .jumbotron {
        background-color: salmon;
    }

    .slide-detail {
        padding: 50px;
        color: white;
        position: relative;
        width: 100%;
        top: 20%;
        left: 0;
    }

    .slide-detail #release-date {
        font-size: 0.8rem;
    }

    .slide-detail #title {
        font-size: 3rem;
    }

}